/*
----------------------------------------
USWDS with settings overrides
----------------------------------------
Uncomment the following lines and add a list of changed settings
in the form $setting: value,
----------------------------------------
*/


 @use "uswds-core" with (
   $theme-button-small-width: 10
   
 );



.usa-header, .usa-nav {
    background-color: #000;
    color: #fff;
 }
 
 .usa-nav__primary button {
    color: #fff;
 }
 
 .usa-nav__primary button:hover {
    color: #ddd;
 }
 
 .usa-nav.is-visible {
    background-color: #fff;
 }
 
 .usa-nav.is-visible .usa-nav__primary button {
    color: #000;
 }
 
 .usa-social-link__icon {
    filter: brightness(100%);
  }
  
.usa-social-link {
   width: 2rem;
   height: 2rem;
}
