<div class="_form_75">
	<div>
		<p>
			{{ message }}
		</p>
		<div class="_form_75"></div><script src="https://metro77073.activehosted.com/f/embed.php?id=75" type="text/javascript" charset="utf-8"></script>

		{%- comment -%} <form method="POST" action="https://metro77073.activehosted.com/proc.php" id="_form_75_"
			class="_form _form_75 _inline-form" novalidate>
			<input type="hidden" name="u" value="75" />
			<input type="hidden" name="f" value="75" />
			<input type="hidden" name="s" />
			<input type="hidden" name="c" value="0" />
			<input type="hidden" name="m" value="0" />
			<input type="hidden" name="act" value="sub" />
			<input type="hidden" name="v" value="2" />

			<div class="_form-content">
				<div class="_form_element _x68633660">
					<div class="_field-wrapper">
						<input type="text" id="email" name="email" placeholder="Enter email address" required />
					</div>
				</div>
				<div class="_button-wrapper">
					<button id="_form_75_submit" class="_submit mb-4" type="submit">
						Sign up
					</button>
				</div>
				<div class="_clear-element">
				</div>
			</div>
			<div class="_form-thank-you" style="display:none;">
			</div>
		</form> {%- endcomment -%}
	</div>
</div>