<p>
  {{ message }}
</p>
<p>
  Download a PDF summary of the latest service updates in the following languages:
  <ul>
    <li>
      <a href="#">English</a>
    </li>
    <li>
      <a href="#">Spanish</a>
    </li>
    <li>
      <a href="#">Chinese</a>
      (traditional)
    </li>
    <li>
      <a href="#">Armenian</a>
    </li>
    <li>
      <a href="#">Korean</a>
    </li>
    <li>
      <a href="#">Japanese</a>
    </li>
    <li>
      <a href="#">Russian</a>
    </li>
    <li>
      <a href="#">Vietnamese</a>
    </li>
  </ul>
</p>