<p>
  {{ message }}
</p>
<form class="usa-form">
  <label class="usa-label" for="optionsTakeone">Download a PDF summary of the latest service updates in the following languages:</label>
  <select class="usa-select" name="options" id="optionsTakeone">
    <option value>- Select -</option>
    {% for lang in langs.langList %}
      <option value="{{ langs[lang].takeone }}">{{ langs[lang].label }}</option>
    {% endfor %}
  </select>
</form>