<p class="pb-lg-3 px-lg-5">Metro is making service adjustments on June 19 to increase
	reliability. </p>

<p class="pb-lg-3 px-lg-5">Select your line and stop below</a>.
</p>

<div class="_clear-element"></div>
<div class="btn-group col-12" id="dropdownLines">
	<button class="btn dropdown-toggle col-12 mb-3 notranslate" type="button" id="dropdownLinesButton"
		data-bs-toggle="dropdown" aria-expanded="false">
		Select your line
	</button>
	<ul class="dropdown-menu col-12" aria-labelledby="dropdownLinesButton">
	</ul>
</div>

<div class="btn-group col-12" id="dropdownStops1">
	<button class="btn dropdown-toggle col-12 mb-3 disabled notranslate" type="button" id="dropdownStopsButton1"
		data-bs-toggle="dropdown" aria-expanded="false">
		Select your A stop
	</button>
	<ul class="dropdown-menu col-12" aria-labelledby="dropdownStopsButton1">
	</ul>
</div>

<div class="btn-group col-12" id="dropdownStops2">
	<button class="btn dropdown-toggle col-12 mb-3 disabled notranslate" type="button" id="dropdownStopsButton2"
		data-bs-toggle="dropdown" aria-expanded="false">
		Select your B stop
	</button>
	<ul class="dropdown-menu col-12" aria-labelledby="dropdownStopsButton2">
	</ul>
</div>

<div>
	<button type="button" class="btn btn-dark col-12 mb-4 disabled cta" id="requestLineStops">Request
		Now</button>
</div>